doctype html
html
    head
        meta(charset='utf-8')
        title=title
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        link(href='favicon.png' sizes='32x32' rel='icon' type='image/png')
        link(href='apple-touch-icon.png' sizes='180x180' rel='apple-touch-icon')
        meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')

        meta(name='twitter:card' content='summary')
        meta(property='og:title' content=title)
        meta(property='og:description' content=description)
        meta(property='og:image' content=imgUrl)
        meta(property='og:url' content=itemUrl)

        script(src='share-link.js')
    body

